<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectDB2.Properties.Settings.stringConnect" connectionString="Server=lab005.2isa.org;Port=33005;Database=dbWinForm;UID=root;PWD=1365lab005" />
    </connectionStrings>
</configuration>